body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #f2f2f2;
    font-size: 18px;
}

img{
    height: 350px;
    width: 550px;
    border-radius: 5px;
}

#luta{
    border: 5px solid lightblue;
}

#Triceratops{
    border: 5px solid lightblue;
    position: absolute;
    right: 700px;
}

#Brachio{
    border: 5px solid green;
}

#Estego{
    border: 5px solid red;
}

#Brachio2{
    border: 5px solid black;
}





